/* 0,0,2,0 */
.outer .inner {
    color:orange;
}

/* 0,0,1,0 */
.inner {
    color: red;
}

/* 0,1,0,0 */
#unique {
    color: blueviolet;
}
/* 0,0,0,2 */
h1, h2 {
    font-size: large;
}
/* 0,1,1,1 */
#unique .inner h2 {
    font-size: large;
}

