*{
    font-size: 60px;
}
#box1 {
    background-color:bisque;
    width: 300px;
    padding: 30px;
    border: 10px solid rebeccapurple;
}

/* width = Total size */
/* (300px - 60 -20) */
/* 220px + 60px + 20px = 300px. */
#box2 {
    background-color: tomato;
    width: 300px;
    padding: 30px;
    border: 10px solid green;
    box-sizing: border-box;
}